 /*Para inicializar todo el documento sin ningún margen y padding*/
*{
	margin:0px;
	padding:0px;
}

body {
	background: #EA1737;
}

h2{
	display:inline-block;
  	background-color:  #F9F611;
	color: #EA1737;
}
/*Menu de navegación que esta en html base*/
.nav-link{
	font-size: 111%;
	color: #0C0307;
}
.nav-link:hover{
	background: #6FEFB8;/*#36D08D;*/
	color:#F1E839;
	/*color:#EA1737;*/
	font-size: 115%;
}

/*Mensajes al usuario*/
.alert{
	color: yellow;
  	background-color: indigo;
}


/*Ruta Nosotros*/
.articles{
	color: #0C0307;
	font-size: 120%;
	display:inline-block;
	padding: 20px 100px;
	background-color: #fff;

}
.Nosotros{
	display:inline-block;
	padding: 0px 30px;
	background-color: #12C9F1;

}

/*.subtitulo{
	display:inline-block;
	padding: 0px 30px;
	background-color: #6AF9E7;
}*/
.hola{
	display:inline-block;
	padding: 0px 30px;
	background: #6AF9E7;/*#DAF7A6;
	background-color: #2ECC71;*/
}

.Cita{
	display:inline-block;
	padding: 10px 10px;
	background-color: #EFF96A;
	/*#F9F611;*/
}




/*Ruta Contacto*/
footer{
	font-size: 120%;
	display:inline-block;
	padding: 50px 100px;
	background-color: #F9F611;
}
/*
title {
	display:inline-block;
  background-color: lightblue;
	color: #fff;
}

body {
	background: #EA1737;
}


/*Creación de un menu de navegación
nav {
	background-color: #175DEA;
	color:#fff;
	margin: 10px;
	padding: 10px;
}

/*Convirtiendo en un bloque de linea a las opciones del menu
.menu li{
	display:inline-block;
	padding: 10px 30px;
	background-color: #F9F611;
}

.menu li a{
	padding:20px 20px;
	display:inline-block;
	color:#000;
	text-decoration: none;
}

/*El hover hace que cuando el mouse se pase sobre el enlace este cambie de color
.menu li a:hover{
	background:#B3C9F4;
	color:#fff;
}
/*Final del menu de navegación*/
