 /*Para inicializar todo el documento sin ningún margen y padding*/
*{
	margin:0px;
	padding:0px;
}

body{
	background:black;
}
h2{
	display:inline-block;
  	background-color:  #F9F611;
	color: #EA1737;
}


/*Menu de navegación que esta en html base*/
.navegacion{
	color:YELLOW;
	background: rgba(0, 0, 0, .4);
	background:#929595;
}

.container-fluid{
	font-size: 111%;
	color:yellow;
	/*color: #0C0307;*/
}
.nav-link,
.navbar-brand{
	color:yellow;
	margin:10px;
}
.nav-link:hover{

	color:#F1E839;
	/*color:#EA1737;*/
	font-size: 117%;
}



/*Mensajes al usuario*/
.alert{
	color: yellow;
  	background-color: indigo;
}


/*Ruta Index*/
.card{
	color:WHITE;
	width:100%;
	height:100%;
	margin-bottom: 5px;
	background: rgba(0, 0, 0, .4);
	background:#929595;
}

.card-title{
	display: inline-block;
	color:yellow;
}

.link-primary{
	color:blue;
	display: block;
}



/*Ruta Nosotros*/
.card2{
	color:WHITE;
	width:100%;
	height:100%;
	margin-bottom: 5px;
	background: rgba(0, 0, 0, .4);
}


/*Ruta Contacto*/
footer{
	font-size: 120%;
	display:inline-block;
	padding: 50px 100px;
	background-color: #F9F611;
}

