<DOCTYPE html>
<html lang="es">
<head>
     <!--http-server para correr la pag web-->

    <meta charset="UTF-8">
    <title>Converter</title>

    <meta name="Description" content="Una plataforma web que le permite a las personas convertir imagenes de un formato a otro,
    resaltando las principales ventajas de cada uno de los formatos, que dependiendo de su uso, algunos son indicados para ciertas
    ocasiones y otros no."/>


	<!--Este link es de la pagina https://getbootstrap.com/ que me ayudara con el diseño de mi html utilizo el enlace de la nube: jsDelivr-->
	<!-- CSS only-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--Este es el link de mis css y js-->
    <link rel= "stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">

    {%  block head  %}{% endblock  %}
</head>
    <body>

        <!--Todo este nav lo saque de bootstrap-->
        <nav class="navbar navbar-expand-lg navegacion">
            <br /><br />
            <div class="container-fluid">
                {% if session.user_id %}
                <a class="navbar-brand convierte" href="/"><b>Convierte</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% endif %}
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarColor03">

                    <ul class="navbar-nav ">
                    {% if session.user_id %}
                        <li class="nav-item">
                            <a class="nav-link" href="/info"><b>información</b></a>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/salir"><b>Salir</b></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/register"><b>Registrarse</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login"><b>Iniciar Sesión</b></a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>


        <!--Sirve para mostrar los mensajes al usuario-->
        {% if get_flashed_messages() %}
            <header>
                <div class="alert my-4" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container w-800">
            {% block cuerpo %}{% endblock %}
        </main>
        <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!--script src="/static/js/scripts.js"></script-->
    </body>
</html>