{% extends './base.html' %}

{% block cuerpo %}
<section class="container justify-content-center mx-auto mt-5">
    <form action="/convertir" method="post" enctype="multipart/form-data">
        <div>
            <div>
                <input class="form-control form-control-lg" id="formFileLg" type="file" name="archivo">
              </div>
            <div id="preview"></div>
        
        <select class="form-select" aria-label="Default select example" name="formato2">
            <option selected>Convertir a</option>
            <option value="jpeg">JPG</option>
            <option value="png">PNG</option>
            <option value="webp">WEPB</option>
            <option value="ico">ICO</option>
          </select>
        <button type="submit" class="btn-1">Convertir</button><br>
        </div>
    </form>
</section>

{% endblock %}