{% extends './base.html' %}


{% block cuerpo %}
<section class="container mx-auto mt-5">
    <h1 class="bienvenida">BIENVENIDO A CONVIERTE</h1>
</section>
<br>


<section class="container mx-auto mt-5">
    <div class="row">
      <div class="col-sm-6">
        <div class="card2">
          <div class="card-body">
            <div class="d-flex justify-content-center ">
                <h5 class="card-title titulo2 me-auto">WEBP</h5>
                <a href="#" class="link-primary ms-auto">Go somewhere</a>
            </div>
            <p class="card-text ">Es un formato gráfico en forma de contenedor que surge en el año 2010 de la mano de Google
                y que soporta tanto la compresión con pérdida como sin ella. Un formato derivado del estándar de vídeo VP8
                desarrollado por On2 Technologies y que Google adquirió ese mismo año.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card2">
          <div class="card-body">
            <div class="d-flex justify-content-center ">
                <h5 class="card-title titulo2 me-auto">PNG</h5>
                <a href="#" class="link-primary ms-auto">Go somewhere</a>
            </div>
            <p class="card-text">Los archivos PNG, también conocidos como ping, almacenan imágenes de mapa de bits.
            Este formato fue creado para sustituir El tipo de archivo GIF, ya que tiene la capacidad de mostrar fondos transparentes.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
<script src="/static/js/scripts.js"></script>
{% endblock %}
