{% extends './base.html' %}


{% block cuerpo %}
 <br><br><br><br>
<section class="main">
		    <!-- Vamos a usar la clase class="main" que identificara el contenido principal es decir que son los articulos-->
		    <section class="articles">
			    <!--Como lo dice la etiqueta es para agregar articulos-->
			    <article>
					<p>
					    !Hola, bienvenido! Es un placer servirte si haz entrado a nuestra página, esperamos ser de ayuda para ti. Este emprendimiento web,
					    se debe a la necesidad, que surge en el transporte público de nuestra capital Managua, usuarios inconformes debido a las muchas
					    situaciones que ocurren en las unidades de transporte urbano colectivo, especialmente en hora pico, sé que te preguntaras
						<strong>¿Qué es Movilízate? </strong> Es un sitio web pensado para los usuarios del transporte público de la capital, que viene a
						ofrecer sus servicios para aquellas personas que lo necesiten.
                    </p>

                    <p>
                        Sin más redondeos Movilízate lo que quiere hacer es informarte sobre la ubicación exacta del transporte el cual vas a bordar, podras
                        tener información de la ubicación y hora de llegada de tu transporte en lugar que estas esperando por el, esto puede ser de mucha ayuda
                        para saber si aún esta trabajando la unidad que deseas abordar, te dará la confianza de poder viajar sin tener aquella duda de seguir
                        esperando en ese lugar sin saber si pasara tu transporte, peligrando que te tome la tarde, o en el peor de los casos sufras de un
                        asalto.
					</p>
				</article>
				<article>
					<!-- <img src="imagen/descarga (2).jpg" alt="Ventas" width="350" height="150"/>>
					<img src="imagen/descarga.png" alt="Ventas" width="350" height="150"/>
					<h2 class="grande">¿Quieres vender más gracias a tu web?</h2>
					<h3>¡Empecemos pues! Para ello dinos</h3>
					<h3>¿Ya tienes página web?</h3>

					<input type="button" value="Si, ya tengo mi página web">
					<input type="button" value="No, todavía no tengo página web"-->
				</article>

			</section>
            <br><br><br><br>


		    <!--La etiqueta <aside></aside> quiere decir lo menos importante para el buscador pero puede ser interesante para el usuario es un contenido secundario-->
		    <aside>

				<!--img src="imagen/Foto.JPG" alt="perfil" width="90" height="90"/-->
				<p class="Nosotros">
				    <b class="hola">Nombre: </b> Pablo Mairena
				    <br /><br />
				    <b class="hola">Descripción de su desarrolador web:</b> Un joven emprendedor que desde ya esta poniendo en práctica las habilidades que eh aprendido
					tanto como en la universidad y de manera autodidacta, tratando de impulsar desde ya mi propia empresa, con el objetivo de primeramente
				    ayudar a todas aquellas personas que soliciten mis servicios. En la actualidad, los servicios de diseñadores Freelance de páginas web,
					es decir aquel diseñador web que trabaja de manera independiente como profesional autónomo y por cuenta propia, son cada vez
					más buscados, hoy deseo ser te de mucha ayuda y poder solucionar tus problemas. Sin nada más que agregar espero puedas ayudarme
					tu también a impulsar mi pequeña empresa, no todos corren el riesgo de empreder por si solos un nuevo negocio, sabiendo que la
					competencia los aplastara...
				    </b>
				</p>
				<div class="Cita">
				    <blockquote>
			            “Juventud, divino tesoro, ¡ya te vas para no volver!. Cuando quiero llorar no lloro… y a veces lloro sin querer”...
			        </blockquote>
			        <br />
			        <cite>Rubén Darío</cite>
                </div>
				<!--<p>
					<b class="hola">Misión de la empresa:</b> Poder dar, poder ofrecer al cliente un muy buen servicio, en los diseños, mantenimientos y actualizaciones de paginas
					web; poder hacer realidad aquella idea que el cliente quiere que se haga realidad, hacer ver ese posicionamiento en la empresa de mis clientes
					con una buena y moderna página web que les brinde una muy buena publicidad y forma de dar a conocer sus negocios por medio de este medio digital
					que ahora es muy útil y demandado en el mercado.
				</p>
				<p>
					<b class="hola">Visión de la empresa:</b> Lograr posicionar lo que hoy en día es un emprendimiento como una empresa solida en el futuro, que pueda brindar sus
					servicios a nivel nacional, y aún más alla de nuestras fronteras, ofreciendo a nuestros clientes la solución para sus problemas, como desarrollador
					web es un compromiso servir a las personas que nos busquen. Ampliar con el tiempo los servicios que ofrecemos como empresa y poder competir con cualquiera
					demostrando que servir en nuestro primer objetivo...
				</p>-->
			</aside>
</section>
{% endblock %}