{% extends './base.html' %}


{% block cuerpo %}
 <br><br>
<section class="main">
		    <!-- Vamos a usar la clase class="main" que identificara el contenido principal es decir que son los articulos-->
		    <section class="articles">
			    <!--Como lo dice la etiqueta es para agregar articulos-->
			    <article>
			    	<div class="Nosotros">
			    		<div class="hola">
							<p>
							    !Hola, bienvenido! Es un placer servirte si haz entrado a nuestra página, esperamos ser de ayuda para ti. Este emprendimiento web,
							    se debe a la necesidad, que surge en el transporte público de nuestra capital Managua, usuarios inconformes debido a las muchas
							    situaciones que ocurren en las unidades de transporte urbano colectivo, especialmente en hora pico, sé que te preguntaras
								<strong>¿Qué es Movilízate? </strong> Es un sitio web pensado para los usuarios del transporte público de la capital, que viene a
								ofrecer sus servicios para aquellas personas que lo necesiten.
		                    </p>

		                    <p>
		                        Sin más redondeos Movilízate lo que quiere hacer es informarte sobre la ubicación exacta del transporte el cual vas a bordar, podras
		                        tener información de la ubicación y hora de llegada de tu transporte en lugar que estas esperando por el, esto puede ser de mucha ayuda
		                        para saber si aún esta trabajando la unidad que deseas abordar, te dará la confianza de poder viajar sin tener aquella duda de seguir
		                        esperando en ese lugar sin saber si pasara tu transporte, peligrando que te tome la tarde, o en el peor de los casos sufras de un
		                        asalto.
							</p>
						</div>
					</div>
					<br><br><br>
					<!--La etiqueta <aside></aside> quiere decir lo menos importante para el buscador pero puede ser interesante para el usuario es un contenido secundario-->
				    <aside class="Nosotros">

						<!--img src="imagen/Foto.JPG" alt="perfil" width="90" height="90"/-->
						<p class="hola">
							<br><br>
						    <b>Fundador: </b> Pablo Isaías Mairena
						    <br /><br />
						    <b>Descripción:</b> Un joven emprendedor que desde ya esta poniendo en práctica las habilidades aprendidas
							en la universidad y de manera autodidacta, con el propósito de impulsar ideas e iniciativas innovadoras, para el público en
							general, proponiendo soluciones a problemas y ayudando a la comunidad.
						    </b>
						</p>
						<div class="Cita">
						    <blockquote>
					            “Juventud, divino tesoro, ¡ya te vas para no volver!. Cuando quiero llorar no lloro… y a veces lloro sin querer”...
					        </blockquote>
					        <br />
					        <cite>Rubén Darío</cite>
		                </div>
		                <br><br><br>
						<p class="hola">
							<b>Misión:</b> Poder ofrecer un muy buen servicio, brindando seguridad y confianza a nuestros
							usuarios ya que trabajamos cada día para ellos. Comprometidos con llevarlos a sus destinos, ese es nuestro
							principal objetivo que llegen con bien, y a tiempo a lugar donde los están esperando. Sabemos la importancia
							de sus viajes y queremos acompañar los en cada uno de ellos.
						</p>
						<p class="hola">
							<b>Visión:</b> Lograr posicionar lo que hoy en día es un emprendimiento como una herramienta muy
							util para cada uno de los managuas. Ser el número uno; que las personas nos prefieran. Además trascender
							fronteras, poder cubrir a toda Nicaragua en un futuro, para luegos estar listos para ofrecer nuestros servicios
							fuera del país.
						</p>
					</aside>
				</article>
			</section>
</section>
{% endblock %}